<div class="container col-xxl-8 px-4 py-5 mt-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-5">
        <img src="assets/images/banner/andaman.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy" style="border-radius: 15px;">
      </div>
      <div class="col-lg-7">
        <h1 class="display-5 fw-bold lh-1 mb-3">Discover Andaman</h1>
        <p class="text-justify">
            The Andaman Islands, located in the south-east of the Indian mainland geographically, float in splendid isolation in the Bay of Bengal. Once a hill range extending from Myanmar to Indonesia, these picturesque undulating islands, islets numbering around 836, are covered with dense rain-fed, damp and evergreen forests and endless varieties of exotic flora and fauna.
        </p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start mt-5">
          <a href="https://wa.me/+919638730555?text=Hi,I'm looking for Andaman Holiday Packages!" target="_blank" class="col-md-4 button button-secondary">Enquiry</a>
          <!-- <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button> -->
        </div>
      </div>
    </div>
</div>