<div class="container">
    <div class="row mt-5 pt-5">
        <div class="col-12 text-center mt-3 mb-5">
            <h2>Contact US</h2>
            <label>Contact us for best budget trip, we will give you best quotation for your tour.</label>
        </div>
    </div>

    <div class="row mt-5 text-center">
        <div class="col-md-4 text-center mb-5">
            <span class="icon novi-icon icon-secondary mdi mdi-map-marker mb-3"></span><br>
            <h4>Address</h4>
            <h5>Main Office</h5>
            <label>
                B-1304, Goodwill Breeza, Porwal Road, Dhanori, Pune - 411015
            </label>
        </div>
        <div class="col-md-4 text-center mb-5">
            <span class="icon novi-icon icon-md-smaller icon-secondary mdi mdi-phone mb-3"></span><br>
            <h5><a href="tel:+919638730555">+919638730555</a></h5>
            <h5><a href="tel:+919427330555">+919427330555</a></h5>
        </div>
        <div class="col-md-4 text-center mb-5">
            <span class="icon novi-icon icon-secondary mdi mdi-email mb-3"></span><br>
            <h5><a href="mailto:aatmn.holidays@gmail.com">aatmn.holidays@gmail.com</a></h5>
            <h5><a href="/">www.aatmnholidays.in</a></h5>
        </div>
        <!-- <div class="col-md-3 text-center mb-3">
            <span class="icon novi-icon icon-secondary mdi mdi-web"></span>
        </div> -->

        <!-- <div class="col-md-3 text-center mb-3">
            <h5><a href="/">www.aatmnholidays.com</a></h5>
        </div> -->
    </div>
</div>
<section class="section mt-5 mb-5">
    <div class="container container-bigger form-request-wrap form-request-wrap-modern">
        <div class="row row-fix justify-content-sm-center">
            <div class="col-lg-6 col-xxl-5">
                <div class="form-request form-request-modern bg-gray-lighter novi-background">
                    <!-- <h4>Contact Us</h4>
                    <p>Contact us for best budget trip, we will give you best quotation for your tour.</p> -->

                    <div class="row">
                        <div class="col-12 text-center">
                            <span class="icon novi-icon icon-md-smaller icon-secondary mdi mdi-phone"></span> <a
                                href="tel:+919638730555">+919638730555</a>
                            <h3 class="mt-2">Or</h3>
                        </div>
                    </div>

                    <!-- <div class="row">
                        <div class="col-12 text-center">
                            <h3>Or</h3>                        
                        </div>
                    </div>                     -->

                    <div class="row center-align mt-3">
                        <div class="col-md-10 mb-3">
                            <input type="text" class="form-control" placeholder="Your Full Name" />
                        </div>

                        <div class="col-md-10 mb-3">
                            <input type="text" class="form-control" placeholder="Your Phone Number" />
                        </div>

                        <div class="col-md-10 mb-3">
                            <input type="email" class="form-control" placeholder="Your Email" />
                        </div>

                        <div class="col-md-10 mb-3">
                            <textarea class="form-control" placeholder="Write your Query."></textarea>
                        </div>

                        <div class="col-md-10 center-align">
                            <button class="button button-secondary">Submit</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>