<div class="container col-xxl-8 px-4 py-5 mt-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-5">
        <img src="assets/images/banner/rajasthan.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy" style="border-radius: 15px;">
      </div>
      <div class="col-lg-7">
        <h1 class="display-5 fw-bold lh-1 mb-3">Discover Rajasthan</h1>
        <p class="text-justify">
            The state of Rajasthan in northwestern India includes part of the Thar Desert, as well as Ranthambhor National Park, home to wild tigers, and verdant Mount Abu and its elaborate temples. A camel safari near the inhabited desert trading centre of Jaisalmer gives a hint of the area's beautiful desolation. Udaipur's lakefront setting provides rich contrasts. The capital, Jaipur, is a shopper's dream. Hire a car and driver to take in the spread-out sights. Stay in a heritage hotel to feel like a maharaja.
        </p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start mt-5">
          <a href="https://wa.me/+919638730555?text=Hi,I'm looking for Rajasthan Holiday Packages!" target="_blank" class="col-md-4 button button-secondary">Enquiry</a>
          <!-- <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button> -->
        </div>
      </div>
    </div>
</div>