<div class="container col-xxl-8 px-4 py-5 mt-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-5">
        <img src="assets/images/banner/Maharashtra.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy" style="border-radius: 15px;">
      </div>
      <div class="col-lg-7">
        <h1 class="display-5 fw-bold lh-1 mb-3">Discover Maharashtra</h1>
        <p class="text-justify">
            Located in the heart of India, with a command of the Arabian Sea through its port of Mumbai, Maharashtra has a remarkable physical homogeneity, enforced by its underlying geology. The dominant physical trait of the state is its plateau character; Maharashtra's western part of coastal plains, western upturned rims rising to form the Sahyadri Range, and its slopes gently descending towards the east and southeast. The major rivers and their master tributaries have carved the plateau into alternating broad-river valleys and intervening higher lever interfluves, such as the Ahmednagar, Buldhana, and Yavatmal plateau.
        </p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start mt-5">
          <a href="https://wa.me/+919638730555?text=Hi,I'm looking for Maharashtra Holiday Packages!" target="_blank" class="col-md-4 button button-secondary">Enquiry</a>
          <!-- <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button> -->
        </div>
      </div>
    </div>
</div>