.rd-navbar-static .rd-navbar-top-panel {
    border-top: 5px;
}
.list-inline{
    margin-bottom: 0;
}
.rd-navbar-static .rd-navbar-top-panel{
    background-color: #0a0909ad;
}
@media (max-width: 575px) {
    .rd-navbar-static .rd-navbar-top-panel,
    .brand-image {
        display: none;
    }
}
.number{
    color: #d2d2d2;
}
.navbar-toggler .fa {
    font-style: normal;
    color: #fff;
}
.navbar-brand{
    padding-left: 1rem;
}
.navbar.navbar-expand-md.navbar-dark,
.page-footer.page-footer-minimal{
    background: #346f65 !important;
}
.page-footer.page-footer-minimal p.right{
    color: #fff;
}
.navbar-brand{
    font-family: math;
}
.dropdown-menu{
    min-width: 22rem;
}
.dropdown-item{
    padding-top: 3px;
    padding-bottom: 3px;
}