<div class="page-loader" *ngIf="showLoader">
  <div class="page-loader-body">
    <div class="preloader-wrapper big active">
      <div class="spinner-layer spinner-blue">
        <div class="circle-clipper left">
          <div class="circle"> </div>
        </div>
        <div class="gap-patch">
          <div class="circle"> </div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
      <div class="spinner-layer spinner-red">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="gap-patch">
          <div class="circle"> </div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
      <div class="spinner-layer spinner-yellow">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="gap-patch">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"> </div>
        </div>
      </div>
      <div class="spinner-layer spinner-green">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="gap-patch">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page-->

<div class="page">

  <div class="rd-navbar-wrap rd-navbar-corporate">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Aatmn Holidays</a>
        <button class="navbar-toggler" type="button" (click)="buttonsNav.toggle()">
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse" mdbCollapse #buttonsNav="mdbCollapse">
          <ul class="rd-navbar-nav navbar-nav me-auto mb-2 mb-lg-0 ml-5">
            <li class="nav-item" [class.active]="router.url == '/'">
              <a class="nav-link" (click)="buttonsNav.hide()" routerLink="/">Home</a>
            </li>
            <li class="nav-item" [class.active]="router.url == '/aboutus'">
              <a class="nav-link" (click)="buttonsNav.hide()" routerLink="/aboutus">About Us</a>
            </li>
            <li class="nav-item" [class.active]="router.url == '/contactus'">
              <a class="nav-link" (click)="buttonsNav.hide()" routerLink="/contactus">Contact Us</a>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <a class="" href="/"><img class="brand-image" src="assets/images/banner/logo3.jpeg" height="15" alt="" width="50" loading="lazy"
              style="margin-top: -1px;" /></a>
          </form>
        </div>
      </div>
    </nav>

  </div>

  <router-outlet></router-outlet>

  <footer class="section page-footer page-footer-minimal novi-background bg-cover bg-gray-darker">
    <div class="container container-wide">
      <div class="row">
        <div class="col-md-2 mb-5">
          <h4>ABOUT US</h4>
          <label>Our agency provides varied tours including tailored summer tours for clients who are searching for an
            exclusive and memorable vacation.</label>
        </div>
        <div class="col-md-4 mb-5">
          <h4>CONTACT US</h4>
          <i class="mdi mdi-phone"> </i> &nbsp;<a class="number" href="tel:+919638730555">+919638730555</a>&nbsp; &nbsp;
          <a class="number" href="tel:+919427330555">+919427330555</a><br>

          <i class="mdi mdi-email"> </i> &nbsp;<a class="number"
            href="mailto:aatmn.holidays@gmail.com">aatmn.holidays@gmail.com</a><br>

          <a class="number"><label><i class="mdi mdi-home"> </i> &nbsp;Main Office</label><br><label>
              B-1304, Goodwill Breeza, Porwal Road, Dhanori, Pune - 411015
            </label>
          </a><br>
        </div>
        <div class="col-md-3 mb-5">
          <h4>GET IN THOUCH</h4>
          <a class="icon novi-icon icon-md-middle icon-circle icon-secondary-5-filled mdi mdi-facebook" target="_blank"
            href="https://www.instagram.com/aatmn_holidays/?igshid=MWI4MTIyMDE%3D"></a>&nbsp; &nbsp;
          <a class="icon novi-icon icon-md-middle icon-circle icon-secondary-5-filled mdi mdi-instagram" target="_blank"
            href="https://www.instagram.com/aatmn_holidays/?igshid=MWI4MTIyMDE%3D"></a>&nbsp; &nbsp;
        </div>

        <div class="col-md-3 mb-5">
          <img src="assets/images/banner/logo3.jpeg" height="" alt="" width="" loading="lazy"
              style="margin-top: -1px;" />
        </div>


        <!-- <div class="col-md-4 text-xl-left"><a href="/"><img class="inverse-logo" src="assets/images/banner/logo3.jpeg" alt="" width="208" height="46"/></a></div> -->
        <div class="col-md-12 text-center">
          <p class="right">&#169;&nbsp;<span class="copyright-year"></span> All Rights Reserved. Design by Aatmn
            Holidays.</p>
        </div>
      </div>
    </div>
  </footer>
</div>
<a href="https://wa.me/+919638730555" target="_blank" class="whatsapp-button mdi mdi-whatsapp"></a>