<div class="container col-xxl-8 px-4 py-5 mt-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-5">
        <img src="assets/images/banner/northeast.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy" style="border-radius: 15px;">
      </div>
      <div class="col-lg-7">
        <h1 class="display-5 fw-bold lh-1 mb-3">Discover North East</h1>
        <p class="text-justify">
            You may think of the Northeast as one large emerald – lush, glittering and green. However, peer closer and you’ll notice this gem has many facets – 8 to be precise. This glorious octet of Arunachal Pradesh, Manipur, Assam, Meghalaya, Mizoram, Nagaland, Tripura and Sikkim come together to make the northeast region of India. Here, you’ll see some of the eco-friendliest travel locations, taste the unique flavours of bamboo and soybean twisting their way through the dishes, visit the lush Kaziranga National Park and sink into the spiritual energy of the most serene Buddhist monasteries. 
            Each state has its own charm, culture and traditions. You’re in for a surprise no matter where you visit. So, today, we’re going to lay these choices in front of you and then let you decide which state you’d like to sample. All we ask is that you surrender to the magic of Northeast Tourism and start planning your holiday here.
        </p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start mt-5">
          <a href="https://wa.me/+919638730555?text=Hi,I'm looking for North East Holiday Packages!" target="_blank" class="col-md-4 button button-secondary">Enquiry</a>
          <!-- <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button> -->
        </div>
      </div>
    </div>
</div>