<section class="section">
    <div class="swiper-form-wrap">
        <!-- Swiper-->
        <ngb-carousel #carousel [interval]="4000" [pauseOnHover]="true" class="dashboard-carousel">
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img [src]="images[0]" alt="Random first slide">
                </div>
                <div class="carousel-caption">
                    <h3>Maldives</h3>
                    <p>The Maldives are known as “the tropical paradise” for reasons such as its beauty. This tropical
                        country has separated islands and islands are surrounded by its own lagoon. Each island has pure
                        white sandy beaches.
                        The sea covers 99% of the Maldives and it is where you can see beautiful fishes and corals.
                        There are over five thousand coral reefs and plenty of reef fish, corals, and many other marine
                        lives you could see underwater. Diving in the Maldives would be memorable.</p>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img [src]="images[1]" alt="Random second slide">
                </div>
                <div class="carousel-caption">
                    <h3>Singapore</h3>
                    <p>Singapore is a popular destination amongst tourists, especially from India. Tourism in Singapore
                        offers variety of sightseeing and entertainment options. The wide range of Singapore tourism
                        packages provided by us allows the traveller to explore various Singapore tourist places in
                        comfort.</p>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img [src]="images[2]" alt="Random third slide">
                </div>
                <div class="carousel-caption">
                    <h3>Thailand</h3>
                    <p>With epic tropical beauty, ancient temples, amazing food scene and vibrant nightlife, Thailand
                        truly has a chaotic charm to it that attracts people from across the globe. The country, also
                        referred to as the Land of Smiles, never disappoints. So let's check out some of the best places
                        to visit in Thailand.</p>
                </div>
            </ng-template>
        </ngb-carousel>
    </div>
</section>

<section class="section mt-5 mb-5">
    <div class="container container-bigger form-request-wrap form-request-wrap-modern">
        <div class="row row-fix justify-content-sm-center">
            <div class="col-lg-6 col-xxl-5">
                <div class="form-request form-request-modern bg-gray-lighter novi-background">
                    <h4>Contact Us</h4>
                    <p>Contact us for best budget trip, we will give you best quotation for your tour.</p>
                    
                </div>
            </div>
        </div>
    </div>
</section>


<section class="section section-lg bg-gray-lighter novi-background bg-cover text-center">
    <div class="container container-wide">
        <h3>our services</h3>
        <div class="divider divider-decorate"></div>
        <div class="row row-50 justify-content-sm-center text-left">
            <div class="col-sm-10 col-md-6 col-xl-3">
                <article class="box-minimal box-minimal-border">
                    <div class="box-minimal-icon novi-icon mdi mdi-airplane"></div>
                    <p class="big box-minimal-title">Air Tickets</p>
                    <hr>
                    <div class="box-minimal-text text-spacing-sm">At our travel agency, you can book air tickets to any
                        world destination. We also provide online ticket booking via our website in just a couple of
                        steps.</div>
                </article>
            </div>
            <div class="col-sm-10 col-md-6 col-xl-3">
                <article class="box-minimal box-minimal-border">
                    <div class="box-minimal-icon novi-icon mdi mdi-map"></div>
                    <p class="big box-minimal-title">Voyages &amp; Cruises</p>
                    <hr>
                    <div class="box-minimal-text text-spacing-sm">Besides regular tours and excursions, we also offer a
                        variety of cruises &amp; sea voyages for different customers looking for awesome experiences.
                    </div>
                </article>
            </div>
            <div class="col-sm-10 col-md-6 col-xl-3">
                <article class="box-minimal box-minimal-border">
                    <div class="box-minimal-icon novi-icon mdi mdi-city"></div>
                    <p class="big box-minimal-title">Hotel Bookings</p>
                    <hr>
                    <div class="box-minimal-text text-spacing-sm">We offer a wide selection of hotel ranging from 5-star
                        ones to small properties located worldwide so that you could book a hotel you like.</div>
                </article>
            </div>
            <div class="col-sm-10 col-md-6 col-xl-3">
                <article class="box-minimal box-minimal-border">
                    <div class="box-minimal-icon novi-icon mdi mdi-beach"></div>
                    <p class="big box-minimal-title">Tailored Summer Tours</p>
                    <hr>
                    <div class="box-minimal-text text-spacing-sm">Our agency provides varied tours including tailored
                        summer tours for clients who are searching for an exclusive and memorable vacation.</div>
                </article>
            </div>
        </div>
    </div>
</section>


<section class="section section-variant-1 bg-default novi-background bg-cover">
    <div class="container container-wide">
        <div class="row row-fix justify-content-xl-end row-30 text-center text-xl-left">
            <div class="col-xl-8">
                <div class="parallax-text-wrap">
                    <h3>Our Best Tours</h3><span class="parallax-text"
                        style="transform: translate3d(0px, -24.0079%, 0px);">Hot tours</span>
                </div>
                <hr class="divider divider-decorate">
            </div>
            <div class="col-xl-3 text-xl-right"><a class="button button-secondary button-nina" href="#">view all
                    tours</a></div>
        </div>
        <div class="row row-50">
            <div class="col-md-6 col-xl-4">
                <article class="event-default-wrap">
                    <div class="event-default">
                        <figure class="event-default-image"><img
                                src="assets/images/landing-private-airlines-01-570x370.jpg" alt="" width="570"
                                height="370">
                        </figure>
                        <div class="event-default-caption"><a class="button button-xs button-secondary button-nina"
                                href="#">learn more</a></div>
                    </div>
                    <div class="event-default-inner">
                        <h5><a class="event-default-title" href="#">France, Paris</a></h5><span class="heading-5">from
                            $280</span>
                    </div>
                </article>
            </div>
            <div class="col-md-6 col-xl-4">
                <article class="event-default-wrap">
                    <div class="event-default">
                        <figure class="event-default-image"><img
                                src="assets/images/landing-private-airlines-02-570x370.jpg" alt="" width="570"
                                height="370">
                        </figure>
                        <div class="event-default-caption"><a class="button button-xs button-secondary button-nina"
                                href="#">learn more</a></div>
                    </div>
                    <div class="event-default-inner">
                        <h5><a class="event-default-title" href="#">USA, Boston</a></h5><span class="heading-5">from
                            $480</span>
                    </div>
                </article>
            </div>
            <div class="col-md-6 col-xl-4">
                <article class="event-default-wrap">
                    <div class="event-default">
                        <figure class="event-default-image"><img
                                src="assets/images/landing-private-airlines-03-570x370.jpg" alt="" width="570"
                                height="370">
                        </figure>
                        <div class="event-default-caption"><a class="button button-xs button-secondary button-nina"
                                href="#">learn more</a></div>
                    </div>
                    <div class="event-default-inner">
                        <h5><a class="event-default-title" href="#">Italy, Venice</a></h5><span class="heading-5">from
                            $350</span>
                    </div>
                </article>
            </div>
            <div class="col-md-6 col-xl-4">
                <article class="event-default-wrap">
                    <div class="event-default">
                        <figure class="event-default-image"><img
                                src="assets/images/landing-private-airlines-04-570x370.jpg" alt="" width="570"
                                height="370">
                        </figure>
                        <div class="event-default-caption"><a class="button button-xs button-secondary button-nina"
                                href="#">learn more</a></div>
                    </div>
                    <div class="event-default-inner">
                        <h5><a class="event-default-title" href="#">Spain, Benidorm</a></h5><span class="heading-5">from
                            $350</span>
                    </div>
                </article>
            </div>
            <div class="col-md-6 col-xl-4">
                <article class="event-default-wrap">
                    <div class="event-default">
                        <figure class="event-default-image"><img
                                src="assets/images/landing-private-airlines-05-570x370.jpg" alt="" width="570"
                                height="370">
                        </figure>
                        <div class="event-default-caption"><a class="button button-xs button-secondary button-nina"
                                href="#">learn more</a></div>
                    </div>
                    <div class="event-default-inner">
                        <h5><a class="event-default-title" href="#">Egypt, Sharm El Sheikh</a></h5><span
                            class="heading-5">from $520</span>
                    </div>
                </article>
            </div>
            <div class="col-md-6 col-xl-4">
                <article class="event-default-wrap">
                    <div class="event-default">
                        <figure class="event-default-image"><img
                                src="assets/images/landing-private-airlines-06-570x370.jpg" alt="" width="570"
                                height="370">
                        </figure>
                        <div class="event-default-caption"><a class="button button-xs button-secondary button-nina"
                                href="#">learn more</a></div>
                    </div>
                    <div class="event-default-inner">
                        <h5><a class="event-default-title" href="#">UK, London</a></h5><span class="heading-5">from
                            $600</span>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>


<section class="section section-lg text-center bg-gray-lighter novi-background bg-cover">
    <div class="container container-bigger">
        <h3>testimonials</h3>
        <div class="divider divider-decorate"></div>
        <!-- Owl Carousel-->
        <div class="owl-carousel owl-layout-1 owl-loaded" data-items="1" data-dots="true" data-nav="true"
            data-stage-padding="0" data-loop="true" data-margin="30" data-mouse-drag="false" data-autoplay="true"
            style="">



            <div class="owl-stage-outer">
                <div class="owl-stage"
                    style="transform: translate3d(-4000px, 0px, 0px); transition: all 0.25s ease 0s; width: 7000px;">
                    <div class="owl-item cloned" style="width: 970px; margin-right: 30px;">
                        <article class="quote-boxed">
                            <div class="quote-boxed-aside"><img class="quote-boxed-image"
                                    src="assets/images/quote-user-2-210x210.jpg" alt="" width="210" height="210">
                            </div>
                            <div class="quote-boxed-main">
                                <div class="quote-boxed-text">
                                    <p>I had a marvelous time in our travels to Madagascar, Zimbabwe and Botswana, I had
                                        just wonderful experiences.I loved the location of the Gorges Camp as I felt
                                        like it was only the time we got to see real and rural Africans and how they
                                        truly lived. The service was amazing and everyone was very attentive!</p>
                                </div>
                                <div class="quote-boxed-meta">
                                    <p class="quote-boxed-cite">Debra Ortega</p>
                                    <p class="quote-boxed-small">Regular Customer</p>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="owl-item cloned" style="width: 970px; margin-right: 30px;">
                        <article class="quote-boxed">
                            <div class="quote-boxed-aside"><img class="quote-boxed-image"
                                    src="assets/images/quote-user-3-210x210.jpg" alt="" width="210" height="210">
                            </div>
                            <div class="quote-boxed-main">
                                <div class="quote-boxed-text">
                                    <p>Just wanted to say many, many thanks for helping me set up an amazing Costa Rican
                                        adventure! My nephew and I had a blast! All of the accommodations were perfect
                                        as were the activities that we did (canopy, coffee tour, hikes, fishing, and
                                        massages!) We have such fond memories and can't thank you enough!</p>
                                </div>
                                <div class="quote-boxed-meta">
                                    <p class="quote-boxed-cite">Samantha Smith</p>
                                    <p class="quote-boxed-small">Regular Customer</p>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="owl-item" style="width: 970px; margin-right: 30px;">
                        <article class="quote-boxed">
                            <div class="quote-boxed-aside"><img class="quote-boxed-image"
                                    src="assets/images/quote-user-1-210x210.jpg" alt="" width="210" height="210">
                            </div>
                            <div class="quote-boxed-main">
                                <div class="quote-boxed-text">
                                    <p>I wanted to thank you very much for planning the trip to France for my boyfriend
                                        and me. It was amazing and exceeded my expectations! We had a wonderful time and
                                        were very pleased with the accommodations in Paris and Bayeux. Our private/small
                                        tour guides were fantastic! I appreciate all the effort to get us to the Eiffel
                                        Tower finally. </p>
                                </div>
                                <div class="quote-boxed-meta">
                                    <p class="quote-boxed-cite">Ann McMillan</p>
                                    <p class="quote-boxed-small">Regular Customer</p>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="owl-item" style="width: 970px; margin-right: 30px;">
                        <article class="quote-boxed">
                            <div class="quote-boxed-aside"><img class="quote-boxed-image"
                                    src="assets/images/quote-user-2-210x210.jpg" alt="" width="210" height="210">
                            </div>
                            <div class="quote-boxed-main">
                                <div class="quote-boxed-text">
                                    <p>I had a marvelous time in our travels to Madagascar, Zimbabwe and Botswana, I had
                                        just wonderful experiences.I loved the location of the Gorges Camp as I felt
                                        like it was only the time we got to see real and rural Africans and how they
                                        truly lived. The service was amazing and everyone was very attentive!</p>
                                </div>
                                <div class="quote-boxed-meta">
                                    <p class="quote-boxed-cite">Debra Ortega</p>
                                    <p class="quote-boxed-small">Regular Customer</p>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="owl-item active" style="width: 970px; margin-right: 30px;">
                        <article class="quote-boxed">
                            <div class="quote-boxed-aside"><img class="quote-boxed-image"
                                    src="assets/images/quote-user-3-210x210.jpg" alt="" width="210" height="210">
                            </div>
                            <div class="quote-boxed-main">
                                <div class="quote-boxed-text">
                                    <p>Just wanted to say many, many thanks for helping me set up an amazing Costa Rican
                                        adventure! My nephew and I had a blast! All of the accommodations were perfect
                                        as were the activities that we did (canopy, coffee tour, hikes, fishing, and
                                        massages!) We have such fond memories and can't thank you enough!</p>
                                </div>
                                <div class="quote-boxed-meta">
                                    <p class="quote-boxed-cite">Samantha Smith</p>
                                    <p class="quote-boxed-small">Regular Customer</p>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="owl-item cloned" style="width: 970px; margin-right: 30px;">
                        <article class="quote-boxed">
                            <div class="quote-boxed-aside"><img class="quote-boxed-image"
                                    src="assets/images/quote-user-1-210x210.jpg" alt="" width="210" height="210">
                            </div>
                            <div class="quote-boxed-main">
                                <div class="quote-boxed-text">
                                    <p>I wanted to thank you very much for planning the trip to France for my boyfriend
                                        and me. It was amazing and exceeded my expectations! We had a wonderful time and
                                        were very pleased with the accommodations in Paris and Bayeux. Our private/small
                                        tour guides were fantastic! I appreciate all the effort to get us to the Eiffel
                                        Tower finally. </p>
                                </div>
                                <div class="quote-boxed-meta">
                                    <p class="quote-boxed-cite">Ann McMillan</p>
                                    <p class="quote-boxed-small">Regular Customer</p>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="owl-item cloned" style="width: 970px; margin-right: 30px;">
                        <article class="quote-boxed">
                            <div class="quote-boxed-aside"><img class="quote-boxed-image"
                                    src="assets/images/quote-user-2-210x210.jpg" alt="" width="210" height="210">
                            </div>
                            <div class="quote-boxed-main">
                                <div class="quote-boxed-text">
                                    <p>I had a marvelous time in our travels to Madagascar, Zimbabwe and Botswana, I had
                                        just wonderful experiences.I loved the location of the Gorges Camp as I felt
                                        like it was only the time we got to see real and rural Africans and how they
                                        truly lived. The service was amazing and everyone was very attentive!</p>
                                </div>
                                <div class="quote-boxed-meta">
                                    <p class="quote-boxed-cite">Debra Ortega</p>
                                    <p class="quote-boxed-small">Regular Customer</p>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
            <div class="owl-nav">
                <div class="owl-prev"></div>
                <div class="owl-next"></div>
            </div>
            <div class="owl-dots">
                <div class="owl-dot"><span></span></div>
                <div class="owl-dot"><span></span></div>
                <div class="owl-dot active"><span></span></div>
            </div>
        </div>
    </div>
</section>