<section class="section mt-5 pt-3">
    <div class="swiper-form-wrap">
        <!-- Swiper-->
        <ngb-carousel #carousel [interval]="4000" [pauseOnHover]="true" class="dashboard-carousel">
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img [src]="images[0]" alt="Random first slide">
                </div>
                <div class="carousel-caption text-end">
                    <h1>Maldives</h1>
                    <p>The Maldives are known as “the tropical paradise” for reasons such as its beauty. This tropical
                        country has separated islands and islands are surrounded by its own lagoon. Each island has pure
                        white sandy beaches.
                        The sea covers 99% of the Maldives and it is where you can see beautiful fishes and corals.
                        There are over five thousand coral reefs and plenty of reef fish, corals, and many other marine
                        lives you could see underwater. Diving in the Maldives would be memorable.</p>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img [src]="images[1]" alt="Random second slide">
                </div>
                <div class="carousel-caption text-start">
                    <h1>Singapore</h1>
                    <p>Singapore is a popular destination amongst tourists, especially from India. Tourism in Singapore
                        offers variety of sightseeing and entertainment options. The wide range of Singapore tourism
                        packages provided by us allows the traveller to explore various Singapore tourist places in
                        comfort.</p>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img [src]="images[2]" alt="Random third slide">
                </div>
                <div class="carousel-caption">
                    <h1>Thailand</h1>
                    <p>With epic tropical beauty, ancient temples, amazing food scene and vibrant nightlife, Thailand
                        truly has a chaotic charm to it that attracts people from across the globe. The country, also
                        referred to as the Land of Smiles, never disappoints. So let's check out some of the best places
                        to visit in Thailand.</p>
                </div>
            </ng-template>
        </ngb-carousel>
    </div>
</section>

<section class="section section-lg bg-gray-lighter novi-background bg-cover text-center">
    <div class="container container-wide">
        <h3>our services</h3>
        <div class="divider divider-decorate"></div>
        <div class="row row-50 justify-content-sm-center text-left">
            <div class="col-sm-10 col-md-6 col-xl-3">
                <article class="box-minimal box-minimal-border">
                    <div class="box-minimal-icon novi-icon mdi mdi-airplane"></div>
                    <p class="big box-minimal-title">Air Tickets</p>
                    <hr>
                    <div class="box-minimal-text text-spacing-sm">At our travel agency, you can book air tickets to any
                        world destination. We also provide online ticket booking via our website in just a couple of
                        steps.</div>
                </article>
            </div>
            <div class="col-sm-10 col-md-6 col-xl-3">
                <article class="box-minimal box-minimal-border">
                    <div class="box-minimal-icon novi-icon mdi mdi-map"></div>
                    <p class="big box-minimal-title">Voyages &amp; Cruises</p>
                    <hr>
                    <div class="box-minimal-text text-spacing-sm">Besides regular tours and excursions, we also offer a
                        variety of cruises &amp; sea voyages for different customers looking for awesome experiences.
                    </div>
                </article>
            </div>
            <div class="col-sm-10 col-md-6 col-xl-3">
                <article class="box-minimal box-minimal-border">
                    <div class="box-minimal-icon novi-icon mdi mdi-city"></div>
                    <p class="big box-minimal-title">Hotel Bookings</p>
                    <hr>
                    <div class="box-minimal-text text-spacing-sm">We offer a wide selection of hotel ranging from 5-star
                        ones to small properties located worldwide so that you could book a hotel you like.</div>
                </article>
            </div>
            <div class="col-sm-10 col-md-6 col-xl-3">
                <article class="box-minimal box-minimal-border">
                    <div class="box-minimal-icon novi-icon mdi mdi-beach"></div>
                    <p class="big box-minimal-title">Tailored Summer Tours</p>
                    <hr>
                    <div class="box-minimal-text text-spacing-sm">Our agency provides varied tours including tailored
                        summer tours for clients who are searching for an exclusive and memorable vacation.</div>
                </article>
            </div>
        </div>
    </div>
</section>


<section class="section section-variant-1 bg-default novi-background bg-cover">
    <div class="container container-wide">
        <div class="row row-fix justify-content-xl-end row-30 text-center text-xl-left">
            <div class="col-xl-12">
                <div class="parallax-text-wrap">
                    <h3>Our Best Domestic Tours</h3><span class="ml-5 pl-5 parallax-text"
                        style="transform: translate3d(0px, -24.0079%, 0px);">Domestic</span>
                </div>
                <hr class="divider divider-decorate">
            </div>
            <!-- <div class="col-xl-3 text-xl-right"><a class="button button-secondary button-nina" href="#">view all
                    tours</a></div> -->
        </div>
        <div class="row row-50">
            <div class="col-md-6 col-xl-4">
                <article class="event-default-wrap">
                    <div class="event-default">
                        <figure class="event-default-image"><img src="assets/images/banner/Goa.jpg" alt="" width="570"
                                height="370">
                        </figure>
                        <div class="event-default-caption"><a class="button button-xs button-secondary button-nina"
                                href="#">learn more</a></div>
                    </div>
                    <div class="event-default-inner">
                        <h5><a class="event-default-title" href="#">Goa</a></h5><span class="heading-5">from
                            ₹5,500</span>
                    </div>
                </article>
            </div>
            <div class="col-md-6 col-xl-4">
                <article class="event-default-wrap">
                    <div class="event-default">
                        <figure class="event-default-image"><img src="assets/images/banner/andaman.jpg" alt=""
                                width="570" height="370">
                        </figure>
                        <div class="event-default-caption"><a class="button button-xs button-secondary button-nina"
                                href="#">learn more</a></div>
                    </div>
                    <div class="event-default-inner">
                        <h5><a class="event-default-title" href="#">Andaman</a></h5><span class="heading-5">from
                            ₹8,500</span>
                    </div>
                </article>
            </div>
            <div class="col-md-6 col-xl-4">
                <article class="event-default-wrap">
                    <div class="event-default">
                        <figure class="event-default-image"><img src="assets/images/banner/chardham.jpg" alt=""
                                width="570" height="370">
                        </figure>
                        <div class="event-default-caption"><a class="button button-xs button-secondary button-nina"
                                href="#">learn more</a></div>
                    </div>
                    <div class="event-default-inner">
                        <h5><a class="event-default-title" href="#">Char Dham Yatra</a></h5><span class="heading-5">from
                            ₹14,900</span>
                    </div>
                </article>
            </div>
            <div class="col-md-6 col-xl-4">
                <article class="event-default-wrap">
                    <div class="event-default">
                        <figure class="event-default-image"><img src="assets/images/banner/kerala.jpg" alt=""
                                width="570" height="370">
                        </figure>
                        <div class="event-default-caption"><a class="button button-xs button-secondary button-nina"
                                href="#">learn more</a></div>
                    </div>
                    <div class="event-default-inner">
                        <h5><a class="event-default-title" href="#">Kerela</a></h5><span class="heading-5">from
                            ₹7,000</span>
                    </div>
                </article>
            </div>
            <div class="col-md-6 col-xl-4">
                <article class="event-default-wrap">
                    <div class="event-default">
                        <figure class="event-default-image"><img src="assets/images/banner/rajasthan.jpg" alt=""
                                width="570" height="370">
                        </figure>
                        <div class="event-default-caption"><a class="button button-xs button-secondary button-nina"
                                href="#">learn more</a></div>
                    </div>
                    <div class="event-default-inner">
                        <h5><a class="event-default-title" href="#">Rajasthan</a></h5><span class="heading-5">from
                            ₹7,000</span>
                    </div>
                </article>
            </div>
            <div class="col-md-6 col-xl-4">
                <article class="event-default-wrap">
                    <div class="event-default">
                        <figure class="event-default-image"><img src="assets/images/banner/gujarat.jpg" alt=""
                                width="570" height="370">
                        </figure>
                        <div class="event-default-caption"><a class="button button-xs button-secondary button-nina"
                                href="#">learn more</a></div>
                    </div>
                    <div class="event-default-inner">
                        <h5><a class="event-default-title" href="#">Gujarat</a></h5><span class="heading-5">from
                            ₹8,000</span>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>

<section class="section section-variant-1 bg-default novi-background bg-cover pb-4">
    <div class="container container-wide">
        <div class="row row-fix justify-content-xl-end row-30 text-center text-xl-left">
            <div class="col-xl-12">
                <div class="parallax-text-wrap">
                    <h3>Our Best International Tours</h3><span class="ml-5 pl-5 parallax-text"
                        style="transform: translate3d(0px, -24.0079%, 0px);">International</span>
                </div>
                <hr class="divider divider-decorate">
            </div>
            <!-- <div class="col-xl-3 text-xl-right"><a class="button button-secondary button-nina" href="#">view all
                    tours</a></div> -->
        </div>
        <div class="row row-50">
            <div class="col-md-6 col-xl-4">
                <article class="event-default-wrap">
                    <div class="event-default">
                        <figure class="event-default-image"><img src="assets/images/banner/Bali.jpg" alt="" width="570"
                                height="370">
                        </figure>
                        <div class="event-default-caption"><a class="button button-xs button-secondary button-nina"
                                href="#">learn more</a></div>
                    </div>
                    <div class="event-default-inner">
                        <h5><a class="event-default-title" href="#">Bali</a></h5><span class="heading-5">from
                            ₹10,500</span>
                    </div>
                </article>
            </div>
            <div class="col-md-6 col-xl-4">
                <article class="event-default-wrap">
                    <div class="event-default">
                        <figure class="event-default-image"><img src="assets/images/banner/Dubai.jpg" alt=""
                                width="570" height="370">
                        </figure>
                        <div class="event-default-caption"><a class="button button-xs button-secondary button-nina"
                                href="#">learn more</a></div>
                    </div>
                    <div class="event-default-inner">
                        <h5><a class="event-default-title" href="#">Dubai</a></h5><span class="heading-5">from
                            ₹15,500</span>
                    </div>
                </article>
            </div>
            <div class="col-md-6 col-xl-4">
                <article class="event-default-wrap">
                    <div class="event-default">
                        <figure class="event-default-image"><img src="assets/images/banner/Maldives_1.jpg" alt=""
                                width="570" height="370">
                        </figure>
                        <div class="event-default-caption"><a class="button button-xs button-secondary button-nina"
                                href="#">learn more</a></div>
                    </div>
                    <div class="event-default-inner">
                        <h5><a class="event-default-title" href="#">Maldives</a></h5><span class="heading-5">from
                            ₹20,900</span>
                    </div>
                </article>
            </div>
            <div class="col-md-6 col-xl-4">
                <article class="event-default-wrap">
                    <div class="event-default">
                        <figure class="event-default-image"><img src="assets/images/banner/Vietnam.jpg" alt=""
                                width="570" height="370">
                        </figure>
                        <div class="event-default-caption"><a class="button button-xs button-secondary button-nina"
                                href="#">learn more</a></div>
                    </div>
                    <div class="event-default-inner">
                        <h5><a class="event-default-title" href="#">Vietnam</a></h5><span class="heading-5">from
                            ₹22,000</span>
                    </div>
                </article>
            </div>
            <div class="col-md-6 col-xl-4">
                <article class="event-default-wrap">
                    <div class="event-default">
                        <figure class="event-default-image"><img src="assets/images/banner/Singapore.jpg" alt=""
                                width="570" height="370">
                        </figure>
                        <div class="event-default-caption"><a class="button button-xs button-secondary button-nina"
                                href="#">learn more</a></div>
                    </div>
                    <div class="event-default-inner">
                        <h5><a class="event-default-title" href="#">Singapore</a></h5><span class="heading-5">from
                            ₹30,000</span>
                    </div>
                </article>
            </div>
            <div class="col-md-6 col-xl-4">
                <article class="event-default-wrap">
                    <div class="event-default">
                        <figure class="event-default-image"><img src="assets/images/banner/Thailand.jpg" alt=""
                                width="570" height="370">
                        </figure>
                        <div class="event-default-caption"><a class="button button-xs button-secondary button-nina"
                                href="#">learn more</a></div>
                    </div>
                    <div class="event-default-inner">
                        <h5><a class="event-default-title" href="#">Thailand</a></h5><span class="heading-5">from
                            ₹22,000</span>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>

<div class="container pb-5">
    <div class="row p-4 pb-4 align-items-center rounded-3 border shadow-lg">
      <div class="col-lg-6 p-3 p-lg-5 pt-lg-3">
        <h3 class="display-4 fw-bold lh-1">CONTACT US</h3>
        <p class="lead">Contact us for best budget trip, we will give you best quotation for your tour.</p>
        <!-- <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
          <button type="button" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold">Primary</button>
          <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button>
        </div> -->
      </div>
      <div class="col-lg-5 offset-lg-1 p-0 overflow-hidden shadow-lg" style="border-radius: 10px;">
        <div class="col-12 form-request form-request-modern bg-gray-lighter novi-background" style="border-radius: 10px;">
            <div class="col-12 text-center">
                <span class="icon novi-icon icon-md-smaller icon-secondary mdi mdi-phone"></span> <a
                    href="tel:+919638730555">+919638730555</a>
                <h3 class="mt-2">Or</h3>
            </div>
            <div class="row center-align mt-3">
                <div class="col-md-10 mb-3">
                    <input type="text" class="form-control" placeholder="Your Full Name" />
                </div>
    
                <div class="col-md-10 mb-3">
                    <input type="text" class="form-control" placeholder="Your Phone Number" />
                </div>
    
                <div class="col-md-10 mb-3">
                    <input type="email" class="form-control" placeholder="Your Email" />
                </div>
    
                <div class="col-md-10 mb-3">
                    <textarea class="form-control" placeholder="Write your Query."></textarea>
                </div>
    
                <div class="col-md-10 center-align">
                    <button class="col-md-4 button button-secondary">Submit</button>
                </div>
    
            </div>
        </div>
      </div>
    </div>
</div>